.UserDetails-cont {
  width: 100%;
  padding-top: 2rem;
}

.UserDetails {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 1.5rem;
  background-color: #178fff;
}

.UserDetails-img-cont {
  width: 100%;
  margin-bottom: 2rem;
}

.UserDetails-img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 8px solid white;
  object-fit: contain;
}

@media (max-width: 786px) {
  .UserDetails {
    margin-top: 5rem;
  }
}

.UserDetails-name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.UserDetails-job {
  margin-bottom: 1.5rem;
  text-align: center;
  color: hsl(209, 100%, 85%);
}

.UserDetails-description {
  margin-bottom: 1rem;
  padding: 0 2.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
}

.UserDetails-usersname {
  color: rgb(253 224 71);
}

.UserDetails-email {
  margin: 0 auto;
  width: 15rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  background-color: hsl(209, 100%, 75%);
}

.UserDetails-btn {
  background-color: transparent;
  border: 2px solid #178fff;
  cursor: pointer;
  font-size: 1rem;
  color: hsl(0, 0%, 20%);
  transition: color 0.2s ease-in-out;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.UserDetails-btn:hover {
  font-weight: 800;
}

.UserDetails-btn-icon {
  padding-right: 0.5rem;
}
